body {
    background-color: gray;
}

header { 
    background-color: black 
    text-align: center;
}


footer { 
    background-color: black 
    text-align: center;
}

h1 {color:maroon;
    text-align: center;

}

h2 {
    color: maroon;
    text-align: center;
}

header li { 
    color: rgb(1, 20, 16);
    text-align: center; 
    display: inline;
    padding: 1%;
    margin: 13%;
    border: solid rgb(22, 9, 9) .050em;
}


li { color: black;
    text-align: left;
}

section { text-align: center;

}

img { 
    margin: 2em;

}
 
#pasta {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer li {
    color: rgba(0, 0, 0);
    text-align: center; 
    display: inline;
    padding: 1%;
    margin: 13%;
    border: solid black .050em;
}

footer {
    text-align: center;
    border: black
}
