body {
    background-color: gray;
}

header, footer { 
    background-color: black
    text-align: center;
}


h1 {color:maroon;
    text-align: center;

}

h2 {
    color: maroon;
    text-align: center;
}

header li { 
    color: rgba(61, 7, 7, 0.459);
    text-align: center; 
    display: inline;
    padding: 1%;
    margin: 13%;
    border: solid black 2px;
}


li { color: black;
    text-align: left;
}

section { text-align: center;

}

img { 
    margin: 2em;
    img 

}

footer li {
    color: rgba(61, 7, 7, 0.459);
    text-align: center; 
    display: inline;
    padding: 1%;
    margin: 13%;
    border: solid black 2px;
}

footer {
    text-align: center;
    border: black
}
