body {
    background-color: gray;
}

header { background-color: grey
text-align: center;
}


h1 {color:maroon;
    text-align: center;

}

header li { color: maroon;
    text-align: center;

}

li { color: black;

}

section { text-align: center;

}

img { margin: 2em;

}

footer {

}